
@{
    ViewData["Title"] = "conutBySession";
}

<h1>conutBySession</h1>

<form>
 
    <p>
        <h1>@ViewBag.COUNT</h1>
    </p>
    <div class="form-group">
        <input type="submit" value="確定" class="btn btn-primary" />
    </div>
</form>
